/* Reset margins and boxes */

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }

* {
	padding: 0;
	margin: 0;
	}

/* General styling */

body {
  font-family: "VT323", monospace;
  background-color: #fff;

}
h2 {
  color: #fff;
}
p {
  color: #C29615;
  font-size: 3vw;
}

.main {
  display: flex;
  background-color: #202124;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5vh 7vh 5vh 8vh;
  position: relative;
}
.monitor {
  display: flex;
  flex-direction: column;
  width: 90%;
  flex: 1;
  gap: 50px;
  max-width: 780px;
  min-height: 300px;
  background-color: #140E02;
  z-index: 5;
  margin: 0 4vh 0 2vh;
}
.front {
  position: absolute;
  z-index: 10;
  width: 90%;
  min-width: 450px;
  max-width: 900px;
  flex: 1;
}
.back {
  z-index: 2;
  position: absolute;
  width: 88%;
  max-width: 880px;
  flex: 1;
  pointer-events: none;
  user-select: none;
}

.container-top {
  display: flex;
  justify-content: center;
  flex: 1;
  max-height: 170px;
}
.container-bottom {
  display: flex;
  align-items:flex-end;
  justify-content: center;
  flex: 0.5;
  max-height: 80px;
}
.top {
  background-color: #140E02;
}
.top.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.top.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items:center;
  padding-right: 6vw;
}
.top.center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
p.left-text {
  visibility: hidden;
  text-align: center;
  padding-left: 2vw;
}
p.right-text {
  visibility:hidden;
  text-align: center;
}
p.bottom-text {
  padding-right: 3vw;
  white-space: pre;
}

.ledLight {
  fill: #2B2A28;
  opacity: 100%;
}

.clickBlock {
  pointer-events: none;
}

.rock,
.paper, .scissors, 
.reset, .blu3 {
  cursor: pointer;
}